# Dependencies
node_modules/

# Environment variables


# Google Cloud credentials
credentials/
# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for processed images
uploads/processed-*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
